#root {
  max-width: 1280px;
  margin: 20px auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 126, 167);
  
}

h1 {
  color: rgb(245, 223, 187);
}

.navContainer h3:hover {
  color: rgb(134, 205, 130);
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  font-weight: bold;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(180, 225, 255);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  margin-bottom: 2rem;
}

#cityState {
  color: rgb(245, 223, 187)
}

.currConditions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.todayContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem; 
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

input {
  margin-top: .5rem;
}